/*body { background-image: url("../../media/images/bg.jpg") !important; background-repeat: repeat !important; }*/
.android-app span {
    font-size: 1.5em;
}

.android-app a {
    text-decoration: none;
    color: #96134E;
}
.android-app a:hover {
    color: black;
}

.android-app img {
    margin-bottom: -6px;
}

label.error {
    border: none !important;
    background: none !important;
    display: block;
    margin: 0;
    padding-top: 0;
}

#load {
    display: none;
    padding-left: 30px;
}
p {font-size: 1.2em !important;}
ol, li {font-size: 1.1em !important;}
.header, .footer {  margin-right:0;  clear: both; }
.header {background-color: #96134E !important; height: 50px; width: auto; min-width: 950px; margin-bottom: 50px;}
.header h1 { color: #fff !important; padding:3px !important;} 
.header h1 a { color: #fff; text-decoration:none;}
.header .links a, .header .links a:hover {float: right; color: white; font-size: 1.3em; padding: 15px 5px 5px 5px;}
.header .links a { text-decoration: none; }
.header .links a:hover { text-decoration: underline; }
.center { text-align: center; }
.footer { padding-top: 10px; background-color: #E4287C; height: 30px; 
          border-bottom-right-radius: 8px; -moz-border-radius-bottomright: 8px; -webkit-border-bottom-right-radius: 8px;
          border-bottom-left-radius: 8px; -moz-border-radius-bottomleft: 8px; -webkit-border-bottom-left-radius: 8px;}
.title-div h2 { background-color: #E4287C; color: white; margin-bottom: 0;}
.title-div, .title-div h2 { border-top-right-radius: 8px; -moz-border-radius-topright: 8px; -webkit-border-top-right-radius: 8px; border-top-left-radius: 8px; -moz-border-radius-topleft: 8px; -webkit-border-top-left-radius: 8px; }
.content-div {  padding-top: 20px; padding-bottom: 20px;}
.content-div, .title-div, .footer { border-left: 1px solid #E4287C; border-right: 1px solid #E4287C; }
#submit {
    border-bottom-right-radius: 8px; -moz-border-radius-bottomright: 8px; -webkit-border-bottom-right-radius: 8px;
    border-top-left-radius: 8px; -moz-border-radius-topleft: 8px; -webkit-border-top-left-radius: 8px;
    background-color: #96134E !important;
    color: white;
    padding: 8px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
.F { background-color: #FDD017 }
.L { background-color: #FF00FF }
.A { background-color: #6698FF }
.M { background-color: #B93B8F }
.E { background-color: #FF0000 }
.S { background-color: #87F717 }

#result {
    display: none;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 15px;
    border-bottom-right-radius: 8px; -moz-border-radius-bottomright: 8px; -webkit-border-bottom-right-radius: 8px;
    border-top-left-radius: 8px; -moz-border-radius-topleft: 8px; -webkit-border-top-left-radius: 8px;
    border-top-right-radius: 8px; -moz-border-radius-topright: 8px; -webkit-border-top-right-radius: 8px;
    border-bottom-left-radius: 8px; -moz-border-radius-bottomleft: 8px; -webkit-border-bottom-left-radius: 8px;}
}
