<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Flames Game</title>
<link rel=StyleSheet href="media/css/style.css" type="text/css">
</head>
<body>
<div class="container">
<h1 class="center">Flames</h1>
<div class="input-content">
<form action="{%url views.show%}" method="post">
<table>
<tr>
<td><label>Your Name: </label></td>
<td><input type="text" name="your_name" value="{%if your_name%}{{your_name}}{%endif%}"/></td>
</tr>
<tr>
<td><label>Dream Partner: </label></td>
<td><input type="text" name="partner_name" value="{%if partner_name%}{{partner_name}}{%endif%}"/></td>
</tr>
<tr><td></td><td><input type="submit" value="Show Me"></td></tr>
</table>
</form>
<div class="center"> 
<h3>{%if result%}{{result}}{%endif%}</h3>
</div>
</div>
</div>
<body>
</html>