{% extends "base.html" %}

{% block title %}Find what relationship you are going to have with your dream partner or lover{% endblock %}

{% block content %}
<div class="span-6">.</div>
<div class="span-12">
  <div class="title-div span-12"><h2 class="center span-12 last">Do you know your partner?</h2></div>
  <div class="span-12 content-div">
    <form id="flames-form" method="post">
      <input type="hidden" name="security" value=""/>
      <input type="hidden" name="source" value="website"/>
      <div class="prepend-1 span-11 last">
	<label for="your_name">Your Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </label>
	<input type="text" class="title" name="your_name" id="your_name" value="{%if your_name%}{{your_name}}{%endif%}"/>
      </div>
      <div class="prepend-1 span-11 last">
	<label for="partner_name">Dream Partner: </label>
	<input type="text" class="title" name="partner_name" id="partner_name" value="{%if partner_name%}{{partner_name}}{%endif%}"/>
      </div>
      <div class="prepend-1 span-11 last" style="display:none;">
	<input type="checkbox" name="allow_share" id="allow_share" {%if allow_share %} checked="checked" {% endif %}/>
	<label for="allow_share">Share the result with Flames ( Facebook, Twitter, Buzz )</label>
      </div>
      <hr class="space">
      <div class="prepend-5 span-2 append-5 last"><img src="media/images/ajax-loader.gif" id="load"/><input id="submit" type="submit" value="Show Me" onClick="javascript:pageTracker._trackPageview('/show');" ></div>
    </form>
    <hr class="space">
    <div id="result" class="center span-10 clear {%if status%}{{status}}{%endif%}"> 
      <h3>{%if result%}{{result}}{%endif%}</h3>
    </div>
  </div>
  <div class="footer span-12">
    <div class="prepend-1 span-2">
      <a href="http://www.google.com/buzz/post" class="google-buzz-button" title="Google Buzz" data-message="Do you want to know what type of relationship you are going to have with your dream partner?" data-url="http://www.flamesgame.appspot.com" data-locale="en" data-button-style="small-count"></a>
      <script type="text/javascript" src="http://www.google.com/buzz/api/button.js"></script>
    </div>
    <div class="prepend-1 span-2">
      <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-counturl="http://flamesgame.appspot.com" data-url="http://flamesgame.appspot.com" data-text="Do you want to know what type of relationship you are going to have with your dream partner? Check ">Tweet</a>
    </div>
    <div class="prepend-1 span-2">
      <fb:like href="http://flamesgame.appspot.com" layout="button_count" show_faces="true" width="100"></fb:like>
    </div>
    <div class="span-2">
      <script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>

      <a name="fb_share" type="button" share_url="http://flamesgame.appspot.com"></a>
    </div>
  </div>
  <div class="android-app center span-12 prepend-top">
    <a href="/FlamesGameAndroid.apk" onClick="javascript: _gaq.push(['_trackPageview', '/FlamesGameAndroid.apk']);"><img src="media/images/android.png" id="android-img"/>
      <span>FlamesGame for Android</span></a>
  </div>
</div>
<div class="span-6"></div>
{% endblock %}

